global
    log stdout format raw local0

defaults
    mode tcp
    log global
    timeout connect 5s
    timeout client  1h
    timeout server  1h
    timeout check   10s

resolvers docker
    nameserver dns 127.0.0.11:53
    hold valid 10s

frontend socks_in
    bind :1081
    default_backend singbox

backend singbox
    balance roundrobin
    option tcp-check
    tcp-check connect
    tcp-check send-binary 050100
    tcp-check expect binary 0500
    tcp-check send-binary 050100010101010101bb
    tcp-check expect binary 0500
    default-server inter 10s fall 2 rise 2 resolvers docker init-addr none
    server sb1 sb1:1081 check
    server sb2 sb2:1081 check
    server sb3 sb3:1081 check
    server sb4 sb4:1081 check

